// colors
$home-bg: hsl(0, 0%, 100%);
$primary-clr: hsl(270, 3%, 87%);
$secondary-clr: hsl(279, 6%, 55%);
$accent-clr: hsl(278, 68%, 11%);
$error-clr: hsl(0, 100%, 66%);
$gradient-start-clr: hsl(249, 99%, 64%);
$gradient-end-clr: hsl(278, 94%, 30%);

// linear gradient color
$linear-gradient-start-clr: hsl(249, 99%, 64%);
$linear-gradient-end-clr: hsl(278, 94%, 30%);

// text colors
$text-primary-clr: #8e8593;
$text-secondary-clr: #21092f;

// breakpoints
$tablet-up: 43.5em;
$desktop: 90em;

// grotesk-font
$grotesk-font: 'Space Grotesk', sans-serif;
