// colors
$white: #ffffff;
$primary-clr: #dedddf;
$secondary-clr: #8e8593;
$accent-clr: #21092f;

// linear gradient color
$linear-gradient-start-clr: hsl(249, 99%, 64%);
$linear-gradient-end-clr: hsl(278, 94%, 30%);

// text colors
$text-primary-clr: #8e8593;
$text-secondary-clr: #21092f;

// breakpoints
$tablet-up: 46.25em;
$desktop: 80em;

// grotesk-font
$grotesk-font: 'Space Grotesk', sans-serif;
